<h1 class="main__title">Edit</h1>
<form method="post" action="/memos/<%= @content['id'] %>" >
  <input type= "hidden" name="_method" value="patch">
  <input type="text" name="title" value="<%= @content['title'] %>">
  <textarea name="body" cols=40 rows=4><%= @content['body'] %></textarea>
  <input type="submit" value="Save!">
</form>
<form method="post" action="/memos/<%= @content['id'] %>/cancel" >
  <input type= "hidden" name="_method" value="patch">
  <input type="submit" value="Cancel!">
</form>
<a class="button" href="/memos/<%= @content['id'] %>">Back to this memo </a>
<a class="button__back-to-top" href="/">Back to all memos</a>  
