<header class="header">
  <h1 class="header__title">Show</h1>
  <a class="header__back-to-top" href="/">Back to all memos</a> 
</header>
<div class="content">
    <div class="content__time">
      <p>最終更新日時 <%= Time.parse(@content['time']).strftime("%Y年%m月%d日 %H時%M分%S秒") %></p>  
    </div>
    <div class="content__title">
      <p class="content__description">title</p>
      <p class="contents"><%= @content['title'].gsub(/(\r\n|\r|\n)/, "<br>") %></p>
    </div>
    <div class="content__body">
      <p class="content__description">本文</p>
      <p class="content"><%= @content['body'].gsub(/(\r\n|\r|\n)/, "<br>") %></p>
    </div>
</div>
<div class="buttons">
  <a class="buttons__edit" href="/memos/<%= params['id'] %>/edit">Edit this memo</a>
  <form method="post" acction="/memos/<%= @content['id'] %>" >
    <input type= "hidden" name="_method" value="delete">
    <input class="buttons__delete" type="submit" value="Delete!">
  </form>
</div>
