    <h1>Show</h1>
    <a href="/">Back to all memos</a>
      <div>
      <p><%= Time.parse(@content['time']).strftime("%Y年%m月%d日 %H時%M分") %></p>
      <p><%= @content['title'].gsub(/(\r\n|\r|\n)/, "<br>") %></p>
      <p><%= @content['body'].gsub(/(\r\n|\r|\n)/, "<br>") %></p>
      </div>
      <a href="/memos/<%= params['id'] %>/edit">Edit this memo</a>
      <form method="post" acction="/memos/<%= @content['id'] %>" >
        <input type= "hidden" name="_method" value="delete">
        <input type="submit" value="Delete!">
      </form>
